<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script>

        let obj = [{ name: "avinash", age: "26", email: "avinash@gail.com" },
        { name: "vansh", age: "27", email: "vansh@gail.com" },
        { name: "chandresh", age: "28", email: "chandresh@gail.com" },
        ]

        let sortData = obj.sort((a,b)=>{
            return a.name.localeCompare(b.name);
        })

        console.log(sortData)


    </script>

</body>

</html